.root {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 0 60px 0px 60px;
  position: relative;
  align-items: center;
  overflow-y: auto;

  .wrapper {
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  & > div {
    max-width: 1440px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--dark-5) inset;
    -webkit-box-shadow: 0 0 0 30px var(--dark-5) inset;
    -webkit-text-fill-color: var(--text-primary);
  }

  .header {
    margin-top: 64px;
    margin-bottom: 104px;
    width: 100%;
  }

  .content {
    width: 100%;
    margin-bottom: 120px;

    h2 {
      font-weight: 500;
    }
  }
  .footer {
    width: 100%;
  }
  .links {
    margin-top: 32px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;

    flex-wrap: nowrap;
    a {
      font-family: "Montserrat";
      font-style: normal;
      white-space: nowrap;

      font-size: 12px;
      line-height: 15px;

      color: #2e3137;
      margin: 0 20px;
    }
    a:hover {
      color: white;
    }
  }
}

.perkCard:nth-of-type(1) {
  background-color: rgba(255, 255, 255, 0.04);
}
.perkCard:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.03);
}
.perkCard:nth-of-type(3) {
  background-color: rgba(255, 255, 255, 0.02);
}

.perkCard {
  padding: 36px 28px 28px 28px;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 8px;

    color: #ffffff;
  }
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #5b5d62;
  }
}

.golden {
  font-size: 48px;
  color: #ecba60;
  font-weight: 100;
  line-height: 1.1;
}

.thick {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.highlighted {
  background-color: var(--cyan);
  padding: 8px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 18px;
}

.normal {
  font-size: 18px;
  margin-top: 18px;
}

.button {
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
}

.loading {
  text-align: center;
}
