.root {
  background-color: var(--dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 22%;
  width: 22%;
  min-width: 224px;

  &__collapsed {
    width: 40px;
    min-width: 40px;

    .header > div,
    .content,
    .footer {
      display: none;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  padding: 16px 8px 20px 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--dark-4);
  .icon {
    align-self: flex-start;
    margin-bottom: 6px;
  }
}

.content {
  flex: 1;
  padding: 14px 8px;

  .channelPill {
    color: var(--grey);
    width: 100%;
    border-radius: 5px;
    padding: 6px;
    &__active {
      background-color: var(--dark-3);
      color: var(--text-primary);
    }
  }
}

.footer {
  background-color: var(--dark-4);
  padding: 14px 8px;
}
