.root {
  padding: 4rem;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--cyan);
    max-width: 520px;
    text-align: left;
    width: 100%;
  }

  .button {
    color: black;
  }
}
