.root {
  color: var(--dark-1);

  border-radius: 5px;
  padding: 9px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--primary);
  min-width: 212px;

  &:disabled:hover {
    cursor: not-allowed;
  }
}
