.root {
  color: var(--text-primary);

  border-radius: 5px;
  padding: 9px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--orange);
  min-width: 212px;
  &:disabled:hover {
    cursor: not-allowed;
  }
}
