.headline {
  color: var(--text-primary);
  font-family: $font-primary;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: $base-letter-spacing;
  &--xl {
    font-size: 40px;
    font-weight: 700;
  }

  &--lg {
    font-size: 25px;
    font-weight: 700;
  }

  &--md {
    font-size: 22px;
    font-weight: 700;
  }

  &--sm {
    font-size: 18px;
    font-weight: 700;
  }

  &--xs {
    font-size: 14px;
    font-weight: 700;
  }

  &--text {
    font-weight: 700;
    font-size: 12px;
  }
}

h1,
.h1 {
  @extend .headline, .headline--xl;
}

h2,
.h2 {
  @extend .headline, .headline--lg;
}

h3,
.h3 {
  @extend .headline, .headline--md;
}

h4,
.h4 {
  @extend .headline, .headline--sm;
}

h5,
.h5 {
  @extend .headline, .headline--xs;
}

.text {
  font-family: $font-primary;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;

  &--md {
    font-size: 13px;
  }

  &--sm {
    font-size: 12px;
  }

  &--xs {
    font-size: 11px;
    line-height: 13px;
  }
}

.message-body, .editor {
  ul { 
    list-style-type: disc; 
    list-style-position: inside; 
  }

  ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
  }

  ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ul ul ul, ol ul ul, ol ol ul { 
    list-style-type: square; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  blockquote:not(.ql-container) {
    border-left: 0;
    position: relative;
    padding-left: 1ch;
    white-space: pre-wrap;

    &::before {
      content: ' ';
      width: 0.25rem;
      height: 1ch;
      background-color: var(--grey);
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 0.25rem;
    }

    & + blockquote::before {
      height: calc(100% + 6px);
      top: -6px;
    }
  }

  code {
    background-color: var(--dark-7);
    color: var(--light-orange);
    padding: 0 0.25ch;
    margin: 0 0.25ch;
    border-radius: 0.25rem
  }

  pre.ql-syntax {
    background-color: var(--dark-7) !important;
    color: var(--light-orange);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    white-space: break-spaces;
  }
}

.message {
  white-space: break-spaces;
}

.text-muted {
  color: var(--text-muted);
}
