:root {
  --our-black: #07080a;
  --near-black: #0a0c0f;
  --near-black-80: rgba(10, 12, 15, 0.8);
  --charcoal-4: #16181d;
  --charcoal-3-20: rgba(46, 49, 55, 0.2);
  --charcoal-4-80: rgba(22, 24, 29, 0.8);
  --charcoal-4-40: rgba(22, 24, 29, 0.4);
  --charcoal-3: #2e3137;
  --charcoal-2: #41444a;
  --charcoal-1: #6c6e74;
  --primary-white: #dadce5;
  --light: #ebecf2;
  --near-white: #f5f6fa;

  --primary: #ecba60;
  --primary-15: rgba(236, 186, 96, 0.15);
  --red: #e3304b;
  --orange: #fa7b48;
  --green: #00c291;
  --green-10: rgba(0, 194, 145, 0.1);
  --blue: #259cdb;

  --secondary: var(--blue);

  --text-primary: var(--primary-white);
  --text-secondary: var(--charcoal-1);
  --text-muted: var(--charcoal-2);
  --border-radius: 1rem;

  --font-sans: 'Roboto Flex', sans-serif;
}
