:root {
  --our-black: #07080A;
  --near-black: #0A0C0F;
  --charcoal-4: #16181D;
  --charcoal-3: #2E3137;
  --charcoal-2: #41444A;
  --charcoal-1: #6C6E74;
  --primary-white: #DADCE5;
  --light: #EBECF2;
  --near-white: #F5F6FA;

  --primary: #ECBA60;
  --red: #E3304B;
  --orange: #FA7B48;
  --green: #00C291;
  --blue: #259CDB;

  --secondary: var(--blue);

  --text-primary: var(--primary-white);
  --text-secondary: var(--charcoal-1);
  --text-muted: var(--charcoal-2);
  --border-radius: 1rem;

  --font-sans: "Roboto Flex", sans-serif;
}
