@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;400;500;600;700&display=swap');

* {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
}

$border-radius: 12px;

@import url("./_variables.css");
@import "variables";
@import "typography";
@import "./base";
