@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/RobotoFlex-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RobotoFlex-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/RobotoFlex-Regular.ttf") format("ttf");
}

* {
  font-family: 'Roboto Flex', sans-serif;
}

$border-radius: 12px;

@import url("./_variables.css");
@import "variables";
@import "typography";
@import "./base";
