@import 'react-quill/dist/quill.snow.css';

.ql-toolbar.ql-snow {
  border: none;
  background: none;
  padding: 0;

  button {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 2.5rem;
    padding: 0.25rem;
    background-color: var(--dark-5);
    border-radius: 5px;
    margin: 0.25rem;
    border: 1px solid var(--dark-5);
  }
}

.ql-snow .ql-stroke {
  stroke: var(--text-primary);
}
.ql-snow .ql-stroke-miter {
  stroke: var(--text-primary);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--text-primary);
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: var(--text-primary);
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--primary);
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--primary);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--primary);
}

.ql-container {
  border: none !important;
}

.ql-editor.ql-blank::before {
  color: var(--grey);
  font-size: 14px;
}

.ql-toolbar button {
  background-color: var(--dark-5);
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0.5rem;
}

.ql-snow .ql-tooltip {
  background-color: var(--dark-4);
  color: var(--text-primary);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  left: 0 !important;
  bottom: 100% !important;
  top: unset !important;

  input[type="text"] {
    background-color: var(--dark-3);
    border: none;
    border-radius: 5px;
  }
}

.ql-snow .ql-editor {
  font-size: 14px;
}

.ql-snow .ql-editor code, .ql-snow .ql-editor pre {
  background-color: var(--our-black) !important;
  color: var(--primary);
}

.ql-snow .ql-editor pre.ql-syntax:not(.ql-container) {
  color: var(--primary);
}

.ql-editor {
  max-height: 22rem;
  padding: 0.5rem 0.5rem;

  .emoji {
    display: inline-block;
    vertical-align: text-top;
  }

  em {
    font-style: italic !important;
  }

  a {
    color: var(--primary);
    border-radius: 2px;
    background-color: var(--primary-15);
    padding: 0 2px;

  }
  
  ul li::before {
    display: none;
  }

  ul li:not(.ql-direction-rtl) {
    padding-left: 0;
  }

  ul {
    padding-left: 1rem;
    list-style: disc !important;
    list-style-type: disc; 
    list-style-position: inside; 

    & li {
      list-style-type: disc;
    }
  }

  ol { 
    padding-left: 0;
    list-style-type: decimal; 
    list-style-position: inside; 
  }

  ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ul ul ul, ol ul ul, ol ol ul { 
    list-style-type: square; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  blockquote:not(.ql-syntax) {
    border-left: 0 !important;
    position: relative;
    padding-left: 1ch;

    &::before {
      content: ' ';
      width: 0.25rem;
      height: 1ch;
      background-color: var(--charcoal-2);
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 0.25rem;
    }
  }
}

.mention {
  color: var(--primary);
  background-color: var(--primary-15);
  padding: 0 3px;
  border-radius: 3px;
  cursor: pointer;
}

.ql-mention-list-container {
  width: 100%;
  position: absolute;
  left: 1rem;
  background-color: var(--charcoal-4);
  padding: 0.75rem 0;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  top: unset !important;
  bottom: 100%;
  max-height: 8rem;
  overflow: auto;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      padding: 0.25rem 0.75rem;

      &:hover {
        background-color: var(--charcoal-3);
      }
    }
  }
}

.emoji-completions {
  max-width: 12rem;
  display: flex;
  flex-wrap: wrap;
  li {
    border-radius: 5px;
    padding: 0.25rem 0.6rem;
    flex-basis: 0 0 24%;
    margin: 0;
    text-indent: 0;
    list-style-type: none;
    font-size: 1rem;

    &:hover {
      background-color: var(--dark-3);
      
    }
  }
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.75rem;
  background-color: var(--dark-1);
}

