.root {
  input {
    border: none;
    outline: none;
    background-color: var(--dark-5);
    padding: 18px 10px;
    color: var(--text-primary);
    font-size: 14px;
    max-width: 444px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
  }
}
