{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": ["tsconfig.json"]
  },
  "plugins": [
    "@next/eslint-plugin-next",
    "@typescript-eslint",
    "react-hooks",
    "import",
    "simple-import-sort",
    "import-newlines",
    "sort-destructure-keys"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "no-unused-vars": "error",
    "sort-destructure-keys/sort-destructure-keys": [2],
    "react/jsx-filename-extension": [0],
    "implicit-arrow-linebreak": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "@typescript-eslint/comma-dangle": "off",
    "function-paren-newline": "off",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"]
  },
  "settings": {
    "import/extensions": [".js", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
