.root {
  input {
    border: none;
    outline: none;
    background-color: var(--dark-5);
    padding: 18px 10px;
    color: var(--text-primary);
    font-size: 14px;
    max-width: 520px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 26px;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--cyan);
    max-width: 520px;
    text-align: left;
    width: 100%;
  }

  .button {
    color: black;
    margin-bottom: 120px;
  }
}
