.root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--dark-1);
  padding: 0 72px;
  min-height: 50px;

  min-width: 680px;
  max-width: 680px;
  border-radius: 10px;
}

.modal:focus {
  outline: none;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
  cursor: pointer;
}
