.root {
  h2 {
    margin-bottom: 2.5rem;
  }
  h3 {
    margin-bottom: 1rem;
  }

  ul {
    text-indent: -1.4rem;
    margin-left: 3rem;
    margin-bottom: 2rem;

    li {
      margin-bottom: 1rem;
    }
  }
  
  padding: 4rem;
  max-height: 70vh;
  overflow: auto;
}