.root {
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 0rem 0.5rem 0rem 1rem;
  align-items: center; 
  border-radius: 1.5rem;
  background: none;
  border: 1px solid var(--charcoal-1);

  &::placeholder {
    font-size: 0.875rem;
    color: var(--charcoal-1);
  }

  &:focus-visible {
    outline: none;
  }
}