.root {
  .wrapper {
    width: 100%;
    margin-bottom: 180px;

    & > div {
      margin: 0 auto;
      max-width: 30rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;
      svg {
        cursor: pointer;
        color: var(--primary);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.select {
  background-color: var(--dark-2);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}