.root {
  padding: 0.5rem 60px;

  span {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
    width:100%;
  }

  top: 0;
  left: 0;
  width: 100%;

  button {
    color: var(--primary);
  }

  display: flex;
  justify-content: space-between;

  svg {
    cursor: pointer;
  }

  svg path {
    fill: var(--primary);
    stroke-width: 2px;
  }
}
