.root {
  input[type="text"] {
    border: none;
    outline: none;
    background-color: var(--dark-5);
    padding: 18px 10px;
    color: var(--text-primary);
    font-size: 14px;
    max-width: 444px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
  }
  .radioButtonsContainer {
    max-width: 444px;
    width: 100%;
    label {
      max-width: fit-content;
      color: var(--text-secondary);
    }

    .container {
      display: block;
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 28px;
      background-color: rgb(65, 68, 73);
      border-radius: 50%;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: rgb(65, 68, 73);
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    .container input:not(:checked) ~ .checkmark:after {
      display: block;
      top: 6px;
      left: 6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--dark-1);
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 6px;
      left: 6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--cyan);
    }
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--cyan);
    max-width: 444px;
    text-align: left;
    width: 100%;
  }

  .button {
    color: black;
  }
}
