.root {
  @apply flex flex-col outline-none;
}

.header {
  @apply flex flex-row items-center;
  color: var(--grey);
}

.content {
  @apply pt-3 overflow-hidden;
}

.icon {
  @apply mr-1;
  transition: transform 0.2s ease;
}

.icon.open {
  transform: rotate(90deg);
}

.label {
  display: block;
  width: 100%;
}
