.root {
  & > input,
  & > .error {
    width: 100%;
    max-width: 516px;
  }

  .button {
    color: black;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--cyan);
    max-width: 520px;
    text-align: left;
    width: 100%;
  }
}
