
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  
  .emoji {
    margin-right: 2px;
    padding: 0px 6px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;

    .count {
      font-size: 10px;
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 1;
  padding: 4px 8px 8px 8px !important;
  opacity: 1 !important;
  max-width: 320px !important;
  max-height: 350px !important;
  overflow: auto;
  border-radius: 5px;

  .icon {
    font-size: 48px;
    text-align: center;
  }
  
  p {
    font-size: 12px !important;
    font-weight: 500;
    text-align: center;
  }
}