
.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;

  .emoji {
    margin-right: 2px;
    background-color: var(--dark-4);
    padding: 0px 6px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 0.5px solid var(--dark-5);
    cursor: pointer;
    &:hover {
      border: 0.5px solid var(--secondary);
    }

    .count {
      font-size: 10px;
    }
  }
}

.tooltip {
  padding: 4px 8px 8px 8px !important;
  opacity: 1 !important;
  border: 0.5px solid var(--secondary) !important;
  max-width: 320px !important;

  .icon {
    font-size: 48px;
    text-align: center;
  }
  
  p {
    font-size: 12px !important;
    font-weight: 400;
    text-align: center;
  }
}