.dayMessagesWrapper {
  position: relative;
  padding-top: 1rem;

  .separator {
    position: absolute;
    top: 33px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary);
  }

  .currentDay {
    display: inline-block;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    border: 1px solid var(--secondary);
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-5);
    color: var(--text-secondary);
  }
}