$header-height: 3.75rem;

.root {
  overflow: hidden;
}

.main-layout {
  display: flex;
}

.left-sidebar {
  flex-basis: 21.75rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 21.75rem;
}

.left-header {
  flex-basis: $header-height;
  min-height: $header-height;
  max-height: $header-height;
  overflow: hidden;
}

.left-menu {
  flex-grow: 1;
}

.main-screen {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  flex-basis: $header-height;
  min-height: $header-height;
  max-height: $header-height;
  overflow: hidden;
}