.root {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &.collapsed {
    main {
      max-width: calc(100vw - 19rem);
    }
    .rightSideBar {
      transition: width 1s;
      flex: 0 0 1rem;
    }
  }

  .leftSideBar {
    flex: 0 0 18rem;
  }

  .rightSideBar {
    flex: 0 0 18rem;
    max-width: 18rem;
  }

  main {
    flex-grow: 1;
    max-width: calc(100vw - 36rem);
  }
}

.view-pinned-messages {
  padding: 4rem;
  width: 90vw;
  max-height: 90vh;
  max-width: unset;
}