.root {
  display: flex;
  height: 100vh;

  .leftSideBar {
    max-width: 286px;
  }

  main {
    flex-grow: 1;
  }
}

.view-pinned-messages {
  padding: 4rem;
  width: 90vw;
  max-height: 90vh;
  max-width: unset;
}