:root {
  --primary: #2d3136;
  --secondary: #f5f5f5;
  --cyan: #00d3ed;
  --orange: #fe7751;
  --red: #d12d4b;
  --white: #f5f5f5;
  --grey: #95989e;
  --dark-1: #2d3136;
  --dark-2: #40444a;
  --dark-3: #43464d;
  --dark-4: #282b2f;
  --dark-5: #36393e;
  --dark-6: #484c52;

  --text-primary: #f5f5f5;
  --text-secondary: #d2d2d2;

  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;
  --font-montserrat: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
}
