*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: -webkit-fill-available;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: $font-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
  color: $text-primary;
  overscroll-behavior-x: none;
  overscroll-behavior-y: contain;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-4);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-4);
  border-radius: 4px;
}
