@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat";
}

@import url("./_variables.css");
@import "variables";
@import "typography";
@import "./base";
