.root {
  .wrapper {
    width: 100%;
    margin-bottom: 180px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;
      svg {
        cursor: pointer;
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 18px;
    a {
      padding: 2px 3px;
      &:hover {
        color: var(--text-primary);
      }
    }
  }
}
