.root {
  padding-bottom: 4rem;
  padding-top: 2rem;

  input[type="file"] {
    display: none;
  }
  
  input,
  label {
    border: none;
    outline: none;
    background-color: var(--dark-5);
    padding: 18px 10px;
    color: var(--text-primary);
    font-size: 14px;
    max-width: 520px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 26px;
  }

  label {
    cursor: pointer;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    max-width: 520px;
    text-align: left;
    width: 100%;
  }

  .button {
    color: black;
  }
}

.iconStack {
  width: 4rem;
  height: 4rem;
  position: relative;

  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.warning {
  color: var(--var-orange);
}