.root {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--dark-5) inset;
    -webkit-box-shadow: 0 0 0 30px var(--dark-5) inset;
    -webkit-text-fill-color: var(--text-primary);
  }
}
