.root {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.25rem 0.25rem;
  background-color: var(--dark-5);

  & > div, & > svg {
    &:hover {
      transform: scale(1.1);
    }

    height: 1rem;
    max-width: 1.25rem;
    margin: 0 4px;
    color: var(--cyan);
    cursor: pointer;
  }
}

.emojisPickerWrapper {
  position: absolute;
  z-index: 1;
}