.root {
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .channelHeader {
    padding: 12px 16px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    div {
      color: var(--text-primary);
      span {
        font-weight: 500;
      }
    }

    p {
      color: var(--text-secondary);
    }
  }
  .messagesContainer {
    flex: 1;
    overflow: auto;
  }
  .textArea {
    margin: 15px 9px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;

    .replyContainer {
      background-color: var(--dark-5);
      border-radius: 5px;
      padding: 10px 8px;
      display: flex;
      span {
        font-size: 14px;
        font-weight: 700;
        color: var(--orange);
      }
      p {
        font-size: 14px;
      }
      svg path {
        fill: var(--orange);
      }
    }

    textarea {
      border: none;
      outline: none;
      background-color: var(--dark-5);
      border: 1px solid var(--dark-2);
      border-width: 1px 1px 0 1px;
      resize: none;

      padding: 10px 8px;
      color: var(--text-primary);
      font-size: 14px;
      width: 100%;
      height: 64px;
      display: flex;
      border-radius: 5px 5px 0 0;
    }
    ::placeholder {
      color: #73767c;
    }

    .buttonsWrapper {
      display: flex;
      flex-direction: row-reverse;
      background-color: var(--dark-5);
      border-radius: 0 0 5px 5px;
      border: 1px solid var(--dark-2);
      border-width: 0px 1px 1px 1px;
    }

    .button {
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 4px;
    }
  }
}

.dayMessagesWrapper {
  position: relative;

  .separator {
    position: absolute;
    top: 15px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary);
  }

  .currentDay {
    display: inline-block;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    border: 1px solid var(--secondary);
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-5);
    color: var(--cyan);
    z-index: 2;
  }
}
