.passwordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div,
  & > p,
  .channelCredentials {
    width: 100%;
    max-width: 534px;
  }

  .button {
    color: black;
    &:disabled:hover {
      cursor: not-allowed;
    }
  }
}
