.root {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-8);
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  flex: 1 0;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.textArea {
  position: relative;
  z-index: 1;
  flex: 0 0 10rem;
}

.asLink {
  color: var(--cyan);
}