.root {
  height: 100vh;

  .codeContainers,
  .loading {
    max-width: 85%;
    padding: 4px;
    flex: 1;
    max-height: 500px;
  }

  .codename {
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 400;
    padding: 12px 8px;
    color: var(--text-primary);
    border-radius: 5px;
    word-break: break-all;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    &.selected {
      background-color: var(--primary);

      .identity span {
        color: var(--near-black) !important;
      }
      .identity svg  {
        fill: var(--near-black) !important;
      }
    }

    &:hover {
      margin: 0;
      border: 2px solid var(--primary);
    }
  }

  .generateButton {
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    &:disabled:hover {
      cursor: not-allowed;
    }
  }

  .registerButton {
    font-weight: 700;
    font-size: 14px;
    &:disabled:hover {
      cursor: not-allowed;
    }
  }
}
