.root {
  padding: 0.5rem 1rem;

  .channelName {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: normal;
    font-style: normal; 
  }

  .channelId {
    color: var(--charcoal-1);
    margin-top: 0.2rem;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0275rem; 
    flex-wrap: none;
    white-space: nowrap;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--charcoal-1);
  cursor: pointer;
}

.gold {
  color: var(--primary);
}
