
.textArea {
  height: 100%;
  position: relative;

  ::placeholder {
    color: #73767c;
  }

  .muted::placeholder {
    color: var(--red);
  }

  .button {
    position: absolute;
    right: 0.5rem;
    bottom: 0.3rem;
  }
}

.error {
  position: absolute;
  left: 0.7rem;
  bottom: 0.3rem;
  color: var(--red);
}

.editorWrapper {
  height: 100%;
  border-radius: 5px;
  padding: 0.2rem;
  position: relative;
  padding-bottom: 2rem;
}