.root {
  & > div,
  & > p,
  .channelCredentials {
    width: 100%;
    max-width: 534px;
  }
  textarea {
    border: none;
    outline: none;
    background-color: var(--dark-5);

    resize: none;
    padding: 18px 14px;
    color: var(--text-primary);
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    width: 100%;
    max-width: 520px;
    border-radius: 5px;
    margin-top: 8px;
  }
  .warn {
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }
  .button {
    color: black;
    &:disabled:hover {
      cursor: not-allowed;
    }
  }

  .channelCredentials {
    background-color: var(--dark-5);
    margin-top: 16px;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--text-secondary);
    span {
      word-break: break-all;
    }
  }
}
