.bubble {
  display: block;
  cursor: pointer;

  &:after {
    background-color: var(--cyan);
  }
}

.bubble {
  &:hover:after {
    background-color: var(--cyan);
  }
}

.bubble:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}
