.root {
  p {
    word-break: break-all;
  }
  padding: 8px 16px;
  position: relative;

  &__highlighted {
    box-shadow: 0px 1px 4px var(--primary);
  }

  .sender {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1px;
      width: 12px;
      margin-bottom: -0.5px;
    }
  }

  &__withReply {
    .replyToMessageBody {
      font-size: 13px;
      background-color: var(--dark-4);
      max-width: fit-content;
      margin-top: 4px;
      margin-bottom: 8px;
      padding: 6px;
      border-radius: 5px;
      a {
        color: var(--primary);
      }

      cursor: pointer;
      .sender {
        svg {
          width: 8px;
          margin-bottom: -0.5px;
        }
        font-size: 10px;
      }
    }
  }

  &:hover {
    background-color: var(--dark-6);
  }

  .sender {
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
  }

  .separator {
    font-size: 12px;
  }

  .messageTimestamp {
    font-size: 10px;
    font-weight: 400;
    margin-left: 6px;
  }

  .body {
    font-size: 14px;
  }

  .replyToMessage {
    cursor: pointer;
    span {
      color: var(--primary);
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.timestamp {
  padding: 4px !important;
  span {
    font-size: 9px !important;
    font-weight: 400;
    color: var(--primary) !important;
  }
}


.messageBody {
  ul { 
    list-style-type: disc; 
    list-style-position: inside; 
  }

  ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
  }

  ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ul ul ul, ol ul ul, ol ol ul { 
    list-style-type: square; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  blockquote {
    border-left: 0;
    position: relative;
    padding-left: 1ch;

    &::before {
      content: ' ';
      width: 0.25rem;
      height: 1ch;
      background-color: var(--grey);
      position: absolute;
      left: 0;
      height: 100%;
      border-radius: 0.25rem;
    }
  }



  &__failed {
    color: var(--red) !important;
  }
  a {
    color: var(--cyan);
  }
}

.sender {
  white-space: nowrap;
}

.actionsWrapperPosition {
  position: absolute;
  right: 20px;
  top: 2px;
  z-index: 2;
}