.root {
  min-height: 476px;
  input[type="file"] {
    display: none;
  }
  input,
  label {
    border: none;
    outline: none;
    background-color: var(--dark-5);
    padding: 18px 10px;
    color: var(--text-primary);
    font-size: 14px;
    max-width: 520px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 26px;
  }

  label {
    cursor: pointer;
  }

  p {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: var(--cyan);
    max-width: 520px;
    text-align: left;
    width: 100%;
  }

  .button {
    color: black;
    margin-bottom: 120px;
  }
}
