.collapsed {
  .header > div,
  .content,
  .footer {
    display: none;
  }
}

.root {
  background-color: var(--dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--dark-1);
  height: 105px;
  padding: 35px 8px 36px 8px;
  font-size: small;
}

.icon {
  cursor: pointer;
  color: var(--cyan);
  width: 1.1rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.buttons {
  display: flex;
}

.content {
  flex: 1;
  padding: 14px 8px;
  overflow: auto;

  .channelPill {
    color: var(--grey);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    &__active {
      background-color: var(--dark-3);
      color: var(--text-primary);
    }
  }
}

.footer {
  background-color: var(--dark-4);
  padding: 14px 8px;
  min-height: 65px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sender {
  font-weight: 700;

  .codeNameWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  svg {
    width: 10px !important;
    display: inline;
  }
  .nickNameWrapper {
    white-space: nowrap;
  }
}

.currentUser {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  svg {
    display: inline;
  }
}

.search {
  position: relative;
  margin-bottom: 0.5rem;

  input {
    border-radius: 5px;
    width: 100%;
    display: block;
    background-color: var(--dark-6);
    padding: 0.25rem 0.5rem;

    &::placeholder {
      font-size: 12px;
    }

    &:focus-visible {
      outline: none;
    }
  }
}