.root {
  & > input,
  & > .error {
    width: 100%;
    max-width: 516px;
  }
  input {
    border: none;
    outline: none;
    background-color: var(--dark-5);

    padding: 18px 14px;
    color: var(--text-primary);
    font-size: 14px;
    width: 100%;
    max-width: 520px;
    border-radius: 5px;
  }

  .button {
    color: black;
  }
}
